/* App.css */
.circle-container {
  position: relative;
  width: 20rem; /* Adjust as needed */
  height: 20rem; /* Adjust as needed */
  border-radius: 50%;
  transition: transform 0.5s ease; /* Add transition for smoother rotation */
  background-image: url("./assets//images/inside.jpg");
  padding: 10px;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 10;
}

.icon-circle {
  position: relative;
  width: 20rem; /* Adjust as needed */
  height: 20rem; /* Adjust as needed */
  border-radius: 50%;
  transition: transform 0.5s ease; /* Add transition for smoother rotation */

  z-index: 10;
}

.icon {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon1 {
  transform: translate(5rem, 0);
}
.icon2 {
  transform: rotate(72deg) translate(5rem, 0) rotate(-72deg);
}
.icon3 {
  transform: rotate(144deg) translate(5rem, 0) rotate(-144deg);
}
.icon4 {
  transform: rotate(216deg) translate(5rem, 0) rotate(-216deg);
}
.icon5 {
  transform: rotate(288deg) translate(5rem, 0) rotate(-288deg);
}

.center-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px; /* Adjust as needed */
  height: 100px; /* Adjust as needed */
  border-radius: 50%;
  overflow: hidden;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
